@import "tailwindcss";

:root {
  --background: #f6f4ee;
  --foreground: #333333;
}

@theme {
  /* Default black and white */
  --color-white: #e6e7e8;
  --color-black: #333333;
  --color-gray: #7b7979;

  /* Font Tokens*/
  --font-aileron: var(--font-aileron), sans-serif;
  --font-quicksand: var(--font-quicksand-mono), sans-serif;
  --font-optima: var(--font-optima), serif;

  /* Color Tokens */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: #2a7797;
  --color-brand-secondary: #07d8ff;
  --color-brand-accent-1: #4ec2bb;
  --color-brand-accent-2: #2a7797;
  --color-brand-accent-3: #fcb016;
  --color-brand-accent-4: #6bb155;
  --color-brand-accent-5: #92298d;
  --color-brand-accent-6: #282560;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f6f4ee;
    --foreground: #333333;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-aileron), var(--font-quicksand), sans-serif;
}
